<h1><%= @author_name %><%= I18n.t('comics.author.list.title') %></h1>

<table>
  <tr>
    <th>名稱</th>
    <!-- <th>封面圖像網址</th> -->
    <!-- <th>網上閱讀網址</th>     -->
    <th></th>
    <th></th>
  </tr>

<% @comics.each do |comic| %>
  <tr>
    <td><%= comic.name %></td>
    <td><%= link_to I18n.t('home.link.rate_this'), new_comic_rating_path(comic) %></td>
    <td><%= link_to I18n.t('home.link.read_online'), comic.online_reading_website_url %></td>
  </tr>
<% end %>
</table>
