<h1><%= I18n.t("user_ratings.title") %></h1>
<h3 id="share-this"><%= I18n.t("user_ratings.share_this") %> <%= link_to user_comic_list_url(:user_name => current_user.username), user_comic_list_url(:user_name => current_user.username) %></h3>

<div id="your-comic-list">
<table>
  <tr>
    <th><%= I18n.t("user_ratings.comic_name") %></th>
    <th><%= I18n.t("user_ratings.author_name") %></th>    
    <th><%= I18n.t("user_ratings.rating") %></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @ratings.each do |rating| %>
  <tr>
    <td><%= rating.comic.name %></td>
    <td><%= link_to rating.comic.author, "/comics/author/#{rating.comic.author}" %></td>
    <td><%= rating.rating %></td>
    <td><%= link_to I18n.t('link.edit'), edit_user_rating_path(current_user, rating) %></td>
    <td><%= link_to I18n.t('link.destroy'), user_rating_path(current_user, rating), :confirm => I18n.t('link.confirm'), :method => :delete %></td>
  </tr>
<% end %>
</table>

</div>

<%= link_to I18n.t("user_ratings.link.new_rating"), new_user_rating_path(current_user) %>
