<h1>
  <%= "#{@user.username} #{I18n.t('user_ratings.comic_list_title')}" %>
  <span id="share-button">
    <a id="facebook-share-button" href="http://www.facebook.com/sharer.php?u=<%= request.url %>&t=See which comics are recommended by the crowd"><img src="/images/fb_share_button.png" /></a>          
  </span>
</h1>

<table>
  <tr>
    <th><%= I18n.t("user_ratings.comic_name") %></th>
    <th><%= I18n.t("user_ratings.rating") %></th>
    <th></th>
    <th></th>    
  </tr>

<% @ratings.each do |rating| %>
  <tr>
    <td><%= rating.comic.name %></td>
    <td><%= rating.rating %></td>
    <td><%= link_to I18n.t('home.link.rate_this'), new_comic_rating_path(rating.comic) %></td>
    <td><%= link_to I18n.t('home.link.read_online'), "http://dm.99770.com" %></td>    
  </tr>
<% end %>
</table>

